.footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10%;
    background-color: #424242;
}

.large-logo {
    font-weight: 800;
}

.litle-logo {
    font-weight: 400;
}